@import "../../theme/variables";

.container {
  display: flex;
  align-items: strech;
  height: 100vh;
}
.nav {
  width: 250px;
  background: $base-color-dark;
}
.chat {
  position: relative;
  flex-grow: 1;
  background: $background-light;
  color: $text-dark;

  display: flex;
  align-items: center;
  justify-content: center;
}

