/**
 *  Define scss variables here.
 *
 *  Available options for Bootstrap:
 *  http://getbootstrap.com/customize/
 *
 */

// Bootstrap Variables
$brand-primary: #32c5e6;
$brand-secondary: #328FE6;
$brand-success: #5cb85c;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;
$brand-info: #5bc0de;

$text-color: #c7b0ff;
$text-light: #abb8c4;
$text-dark: #505050;

$font-size-base: 14px;
$font-family-sans-serif: Helvetica, sans-serif;

// custom colors
$base-color: #6e5baa;
$base-color-dark: #4e4273;
$base-color-darker: #463c66;

$background-light: #f7f8fc;
$background-light-secondary: #e4ebef;

$link-color: white;
