@import "../../theme/variables";

.userContainer {
  background: $base-color-darker;
  margin: 2em 0;
}
.user {
  display: inline-block;
  width: 100%;
  text-align: left;
  font-size: 14px;
  background: url('../../../static/images/image-profile.svg') 15px center no-repeat;
  padding: 15px 5px 15px 60px;
}
.signout {
  float: right;
  vertical-align: middle;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('../../../static/images/btn-leave-over.svg') right center no-repeat;
  margin-left: 1em;
}
