.logo {
  display: block;
  height: 30px;
  width: 50px;
  float: left;
  background: url('../../../static/images/react.svg') center center no-repeat;
  background-size: contain;
  margin: 2px auto;
}
